astroid==1.6.3
backcall==0.1.0
basemap==1.1.0
bleach==2.1.3
cycler==0.10.0
dateparser==0.7.0
decorator==4.2.1
entrypoints==0.2.3
flake8==3.5.0
frosted==1.4.1
GDAL==2.2.1
gobject==0.1.0
h5py==2.7.1
html5lib==1.0.1
ipykernel==4.8.2
ipython==6.3.0
ipython-genutils==0.2.0
ipywidgets==7.2.0
isort==4.3.4
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
mistune==0.8.3
mpmath==1.0.0
nbconvert==5.3.1
nbformat==4.4.0
netCDF4==1.3.1
notebook==5.4.1
numpy==1.14.2
pandocfilters==1.4.2
parso==0.1.1
pexpect==4.4.0
pgi==0.0.11.1
pickleshare==0.7.4
pies==2.6.7
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
pyparsing==2.2.0
pyproj==1.9.5.1
PyQt5==5.10.1
pyshp==1.2.12
python-dateutil==2.7.2
pytz==2018.3
pyzmq==17.0.0
q==2.6
qtconsole==4.3.1
regex==2018.2.21
scipy==1.0.1
Send2Trash==1.5.0
simplegeneric==0.8.1
sip==4.19.8
six==1.11.0
sympy==1.1.1
terminado==0.8.1
testpath==0.3.1
tornado==5.0.1
traitlets==4.3.2
tzlocal==1.5.1
virtualenv==15.2.0
virtualfish==1.0.5
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.2.0
wrapt==1.10.11
